<div class="brush-tools">
    <div class="currentbrush">
        <div class="brush-icon"></div>
    </div>
    <%- include("brush-sizer.html.ejs")%>
    <%- include("color-palette.html.ejs")%>
</div>
