<form class="save-form">
  <label>Name:
    <input class="save-form__field" type="text" name="name">
  </label>
  <label>Tags:
    <input class="save-form__field" type="text" name="tags">
  </label>
  <button type="button" class="save-form__button save-form__button--cancel">Cancel</button>
  <button type="button" class="save-form__button save-form__button--save">Save</button>
</form>