<nav class="whiteboard-tools">
    <a href="#save" class="whiteboard-tools__button whiteboard-tools__save">Save</a>
    <a href="#gallery" class="whiteboard-tools__button whiteboard-tools__gallery">Gallery</a>
</nav>
