<div class="whiteboard-app">
<%- include('brush-tools.html.ejs') %>
<%- include('whiteboard-canvas.html.ejs') %>
<%- include('admin-tools.html.ejs') %>
<%- include('drop-down.html.ejs', { body: 'save-form.html.ejs', body_data: {}, title: "Save" })%>
</div>
