<div class="modal-background">
    <div class="modal-container">
        <header class="modal">
            <span>Modal</span>
            <span class="close">×</span>
        </header>
        <hr/>
        <section class="modal">
            Content
        </section>
        <hr/>
        <footer class="modal">
            Footer
        </footer>
    </div>
</div>
