<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">

<head>
  <meta charset="UTF-8"/>
  <title>CollaBoard</title>
  <link rel="stylesheet" type="text/css" href="styles/whiteboard.css" />
  <script src="build/whiteboard.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"/>
</head>

<body>
<header>
  <h1>CollaBoard</h1>
</header>

<nav>
</nav>

<div id="whiteboard-container">
  <div class="sidebar-tools">
    <div id="palette-container">
      <div id="palette">
        <span id="palette-black" class="palette-color circle"></span>
        <span id="palette-gray" class="palette-color circle"></span>
        <span id="palette-blue" class="palette-color circle"></span>
        <span id="palette-green" class="palette-color circle"></span>
        <span id="palette-red" class="palette-color circle"></span>
        <span id="palette-orange" class="palette-color circle"></span>
        <span id="palette-yellow" class="palette-color circle"></span>
        <span id="palette-white" class="palette-color circle"></span>
      </div>
    </div>
    <div id="brush-size">
      <div class="circle"></div>
    </div>
    <div id="brush-adjuster">
      <input value="1" type="range" max="50" min="1" orient="vertical"/>
    </div>
  </div>

  <div class="canvas-container">
    <canvas width="1080px" height="720px" id="whiteboard"></canvas>
  </div>

  <div class="admin-tools">
    <div id="user-profile">
      <img class="user-profile-picture" title="User" src="media/profile.jpg" />
    </div>
  </div>

</div>
</body>

</html>
