<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">

<head>
  <meta charset="UTF-8"/>
  <title>CollaBoard</title>
    <script src="build/whiteboard.js"></script>
</head>

<body>
  <h1>CollaBoard</h1>
  <canvas width="960px" height="1000px" id="whiteboard"></canvas>
</body>

</html>
