/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* https://coolors.co/fffffa-0d5c63-44a1a0-78cdd7-247b7b */

:root {
    --bg-color: #FFFFFA;
    --color-1: #0D5C63;
    --color-1-light: #441A0;
    --color-2: #247B7B;
    --color-2-light: #78CDD7;
}
