@import "styles/colors.css";

.site-footer {
    width: 100%;
    background-color: var(--color-2-light);
}
.site-footer > nav {
    min-height: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: space-around;
}
.site-footer a {
    height: 30px;
    padding: 1em;
    text-align: center;
}