<div class="textual-content">
    <h1>About</h1>
    <p>Created by <a href="http://willprice.org">Will Price</a>, a final year Computer Science student at the University of Bristol</p>
    <section>
        <h1>Technology</h1>
        <ul>
            <li>ES6 (shared across front and backend) compiled using <a href="https://babeljs.io/">Babel</a></li>
            <li><a href="https://nodejs.org/en/">Node.JS</a> for running JS serverside</li>
            <li><a href="http://ejs.co/">EJS</a>, a templating engine</li>
            <li><a href="https://developers.google.com/identity/sign-in/web/sign-in">Google Sign-In</a> for user management</li>
            <li><a href="https://www.sqlite.org/">SQLite</a> for whiteboard persistence</li>
            <li><a href="https://webpack.github.io/">Webpack</a> to make up for ES5's lack of modules by bundling ES6 modules for the client</li>
            <li><a href="https://travis-ci.org/willprice/whiteboard">Travis CI</a> for continuous integration testing and deployment</li>
            <li><a href="https://www.heroku.com/">Heroku</a> for deployment</li>
            <li><a href="https://mochajs.org/">Mocha</a> for unit testing</li>
            <li><a href="http://chaijs.com/">Chai</a> for rich assertions in unit testing</li>
            <li><a href="http://sinonjs.org/">SinonJS</a> for mocks and spies in unit testing</li>
            <li><a href="https://inkscape.org/en/">Inkscape</a> for producing the site branding materials</li>
            <li><a href="https://www.gimp.org/">GIMP</a> for editing the screenshots used to produce the tutorial</li>
        </ul>
    </section>
</div>
