<div class="modal-overlay">
    <div class="modal">
        <header class="titlebar">
            <span class="title">Modal</span>
            <span class="close">×</span>
        </header>
        <hr/>
        <section class="content">
            Content
        </section>
        <hr/>
    </div>
</div>
