<div class="body-content">
    <h1>CollaBoard Report (wp13824)</h1>
    <p><a href="https://collaborative-whiteboard.herokuapp.com/">CollaBoard</a> is a collaborative whiteboard tool
        produced by Will Price (wp13824/64496) alone.</p>

    <p>NOTE: The collaborative aspect is still in progress and hasn't been implemented yet</p>
    <p><a href="https://www.cs.bris.ac.uk/Teaching/Resources/COMSM0104/cw/assign5/">Marking guidelines</a></p>

    <section>
        <h1>HTML</h1>
        <p>The website is written in exclusively in HTML5, sadly not XHTML5 (as I agree that XHTML is a good idea)
            due to the use of the Google sign-in JS API that injects HTML valid in HTML5, but not in XHTML.</p>
        <h2>Resources used</h2>
        <ul>
            <li><a href="https://developer.mozilla.org/en/docs/Web/HTML">MDN HTML reference</a></li>
            <li><a href="https://jsfiddle.net">JS Fiddle</a> - testing out idioms and prototyping</li>
        </ul>
    </section>
    <section>
        <h1>CSS</h1>
        <h2>Resources used</h2>
        <ul>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">MDN CSS reference</a></li>
            <li><a href="https://jsfiddle.net">JS Fiddle</a> - testing out idioms and prototyping</li>
        </ul>
        <p>CSS</p>
        <h2>Points of note</h2>
        <p>The cascade in CSS can be a monstrosity, and I believe it's a fundamentally flawed styling, to begin with
            sites starting small are pleasant to develop when making use of the cascade, but as time passes and a
            site grows then you start to experience situations like in this video...
        </p>
        <div class="_center-container">
        <video class="_centered" src="https://video.twimg.com/tweet_video/C9oiOtjVYAIvk-5.mp4" controls
               autoplay
        loop></video>
        </div>
        <p>
            Trying to style one aspect of a page can become monumentally frustrating by
        </p>
        <p>Current I favour the <a href="getbem.com/">BEM</a> methodology as it forces the use of CSS to style
            components, completely avoiding the use of the cascade, when
            <a href="https://www.webcomponents.org/">Web components</a> are implemented by the major browsers I
            intend to switch to them instead; I believe components should consist of JS/HTML/CSS bundled all
            together, quite the opposite of the philosophy outlined in the lectures. This opinion applies
            strictly to rich webapps because we're bending HTML into a tool for something very different from its
            original purpose it makes sense to step back and think "do these practices apply to this (webapp) style of
            development?", there is no progressive enhancement in my app; you either have <code>canvas</code> support
            (in which case you're using a modern browser), or you don't.
        </p>
        <p>As the delightful
            <a href="https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/">Harry Roberts</a>
            says "...because writing CSS is easy; looking after it is not.", I want components, not a tightly coupled
            mess of styling.
        </p>
    </section>
    <section>
        <h1>JS</h1>
        <h2>Resources used</h2>
        <ul>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">MDN JS reference</a></li>
            <li><a href="https://jsfiddle.net">JS Fiddle</a> - testing out idioms and prototyping</li>
        </ul>
        <p>
            Used every framework: monogo/mean/js/express ALL OF THEM
        </p>
    </section>
    <section>
        <h1>PNG</h1>
        <h2>Resources used</h2>
    </section>
    <section>
        <h1>SVG</h1>
        <p>
            I used Inkscape to create an SVG logo of collaboard. Despite its simplicity I spent quite a lot of time
            going through
            tutorials and learning techniques testing out different styles until I found something that suited the
            minimal aesthetic I was aiming for
        </p>

        <img class="center" src="../media/logo.svg" alt="CollaBoard logo">

        <h2>Resources used</h2>
        <ul>
            <li><a href="https://inkscape.org/en/doc/tutorials/basic/tutorial-basic.en.html">Inkscape tutorial:
                    Basic</a></li>
            <li><a href="https://inkscape.org/en/doc/tutorials/basic/tutorial-shapes.en.html">Inkscape tutorial:
                    Shapes</a></li>
            <li><a href="https://inkscape.org/en/doc/tutorials/basic/tutorial-advanced.en.html">Inkscape tutorial:
                    Advanced</a></li>
            <li><a href="https://inkscape.org/en/doc/tutorials/basic/tutorial-elements.en.html">Inkscape tutorial:
                    Elements of design</a></li>
        </ul>
    </section>
    <section>
        <h1>Server</h1>
        <h2>Resources used</h2>
    </section>
    <section>
        <h1>Database</h1>
        <h2>Resources used</h2>
    </section>
    <section>
        <h1>Dynamic pages</h1>
        <h2>Resources used</h2>
    </section>
    <section>
        <h1>Depth</h1>
    </section>

    <section>
        <p>Marking criteria:</p>
        <ul>
            <li>? means you don't want to estimate</li>
            <li>X (0) means you have done nothing in this area</li>
            <li>D (4) means you started but got stuck or ran out of time</li>
            <li>C (5) means you have done basic work</li>
            <li>B (6) means you have done some solid work</li>
            <li>A (7) means you have done sophisticated or extensive work</li>
        </ul>

        <table>
            <thead>
            <tr>
                <th>Section</th>
                <th>Grade</th>
                <th>Mark</th>
                <th>Guidance</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>HTML</td>
                <td>A</td>
                <td>7</td>
                <td>
                    <ul>
                        <li>C means you've got a page or two to work</li>
                        <li>B means you've used XHTML delivery, or a validator, to make sure your pages
                            are correct
                        </li>
                        <li>A means you have investigated a variety of different issues and gained a
                            general high level of confidence with the structure of HTML pages (or with
                            generating HTML via a framework)
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>CSS</td>
                <td>A</td>
                <td>7</td>
                <td>
                    <ul>
                        <li>C means you've got some style to work</li>
                        <li>B means you've made sure there are no style tags or style attributes in
                            your HTML pages, and you've gained some experience with stylesheets
                        </li>
                        <li>A means you have investigated a variety of different issues and gained a
                            general high level of confidence with CSS style (or with
                            generating CSS via a framework)
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>JS</td>
                <td>A</td>
                <td>7</td>
                <td>
                    <ul>
                        <li>C means you've got some scripting to work, by writing a small amount of
                            JavaScript, or by slightly adapting a script you found, or by closely following
                            a tutorial
                        </li>
                        <li>B means you've written a substantial script yourself, or written a number
                            of script functions with different issues involved, or gained a medium amount
                            of experience with client-side frameworks
                        </li>
                        <li>A means you have gained a high level of understanding of how client-side
                            JavaScript works, or a high level of expertise in using client-side
                            frameworks
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>PNG</td>
                <td>X</td>
                <td>0</td>
                <td>
                    <ul>
                        <li>C means you've sorted out basic skills such as converting images to PNG,
                            cropping away unwanted edges, changing resoluation
                        </li>
                        <li>B means you've gained experience with some basic tools such as using
                            filters or changing colours or combining existing images or creating simple
                            shapes or filling
                        </li>
                        <li>A means you have gained experience with some more sophisticated tools such
                            as handling layers and transparency, or airbrushing or creating original
                            artwork
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>SVG</td>
                <td>C</td>
                <td>5</td>
                <td>
                    <ul>

                        <li>C means you've created a basic drawing in Inkscape, probably by copying
                            something else
                        </li>
                        <li>B means you've gained experience with some of Inkscape's features such as
                            shape tools, freehand drawing, simplification
                        </li>
                        <li>A means you have gained a higher level of experience, e.g. with path
                            editing, grouping, transformations, gradients, patterns, etc., or put a lot of
                            effort into vector artwork
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Server</td>
                <td>B</td>
                <td>6</td>
                <td>

                    <ul>
                        <li>C means you've created a server by minimally adapting the one provided, or
                            closely following a tutorial to set up express
                        </li>
                        <li>B means you've dealt with things like port numbers, URL validation, content
                            negotiation for old browsers, sending redirections to browsers, handling
                            UTF-8
                        </li>
                        <li>A means you've dealt with things like https and certificates, or web
                            sockets, or cloud hosting, or security issues beyond URL validation, or
                            auto-testing, or cookies, or running under reduced privilege
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Database</td>
                <td>X</td>
                <td>0</td>
                <td>
                    <ul>
                        <li>C means you've manually created a database, and then extracted data from it
                            in your server
                        </li>
                        <li>B means you've managed to update or insert data as well as extract it, and
                            you've got the hang of callbacks for getting things to happen in the right
                            order
                        </li>
                        <li>A means you've gained a lot of experience with SQL, or you've put a lot of
                            effort into organising database access (e.g. into a separate server-side
                            module) or you've put a lot of effort into database design or details of
                            handling your data
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Dynamic pages</td>
                <td>A</td>
                <td>7</td>
                <td>
                    <ul>
                        <li>C means you've created a simple dynamic delivery system or you have used a
                            framework in a simple way
                        </li>
                        <li>B means you've organised dynamic delivery in a more sophisticated way,
                            either doing more of your own programming or using more features of a
                            framework
                        </li>
                        <li>A means you've put in a lot of programming effort or become very fluent in
                            using your chosen framework
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Depth (out of 40)</td>
                <td>30</td>
                <td>10</td>
                <td>
                    For depth,
                    you might want to write something longer which explains your overall aims and
                    design, anything you are particularly proud of, anything I might miss when I am
                    browsing your site, and anything which took a substantial amount of time and
                    effort but didn't make it into the site.
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>-</td>
                <td>49/120</td>
                <td>-</td>
                <td>-</td>
            </tr>
            </tfoot>
        </table>
    </section>

    <section>
        <h1>Supporting libraries</h1>
        <p>The following libraries have been used in the project</p>
        <ul>
            <li><a href="https://expressjs.com/">Express</a>: NodeJS based webserver used for HTTP backend</li>
        </ul>
    </section>
    <section>
        <h1>Resources used</h1>
        <ul>
            <li><a href="https://developer.mozilla.org/en-US/">MDN</a>: For all HTML/CSS/JS reference needs</li>
            <li><a href="https://github.com/christianalfoni/webpack-express-boilerplate">Webpack express boilerplate
                    repo</a> Reference for how to integrate express and webpack for local development needs
            </li>
        </ul>
    </section>
</div>
