<footer class="site-footer">
    <nav>
        <a href="/about">About</a>
        <a href="/tutorial">Tutorial</a>
        <a href="/report">WebTech Report</a>
        <a href="http://willprice.org">Author</a>
    </nav>
</footer>
