<footer class="site-footer">
    <nav>
        <a class="site-footer__link" href="/about">About</a>
        <a class="site-footer__link" href="/tutorial">Tutorial</a>
        <a class="site-footer__link" href="/report">WebTech Report</a>
        <a class="site-footer__link" href="http://willprice.org">Author</a>
    </nav>
</footer>
