<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CollaBoard Tutorial</title>
</head>
<body>
<p>Placeholder for the tutorial on how to use the different tools in collaboard - use GIMP to edit the screenshots to emphasise aspects</p>
</body>
</html>