.admin-tools {
    min-height: 100%; /* Force to be full height of parent */
    display: flex;
    flex-direction: column;

    border-left-style: inset;
    border-left-color: #333;
    border-left-width: thin;
}

