.whiteboard-canvas {
    width: 100%;
}
.whiteboard-canvas > .whiteboard {
    /* width/height have to be specified in CSS for margin
       and in HTML to initialize the HTML canvas context to the correct size
     */
    display: block; /* By default, canvas isn't a block, to center it we need to make it a block */
    margin: auto;
    border: 1px solid black;
}
